{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock title %}

{% block main_content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введіть ваш новий пароль:</p>
        <form action='.' method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type='submit'>Змінити пароль</button>
        </form>
    {% else %}
        <p>Посилання, за яким ви перейшли недійсно. Спробуйте ще раз, або відправте нове на свою пошту.</p>
    {% endif %}
{% endblock main_content %}