{% extends 'base.html' %}

{% load static %}

{% block title %}Список запитань{% endblock title %}

{% block main_content %}
<h1>Список запитань</h1>
<ul>
    {% for question in questions %}
    <li>
        {{ question }}
        {% comment %} <a class='update' href="{% url "modules:update" module.id %}">Оновити модуль</a>
        <a class="remove" href={% url "modules:delete" module.id %}>X</a>
        <a class='add-quiz' href={% url 'quiz:get-module' module.id %}>Додати запитання та відповіді</a>
        <a class='get-module-questions' href={% url 'quiz:get-module-questions' module.id %}>Усі запитання</a> {% endcomment %}
        <hr />
    </li>
    {% endfor %}
</ul>
{% endblock main_content %}