{% extends 'base.html' %}
{% load static %}

{% block title %}Змінити профіль{% endblock title %}

{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Змінити профіль</h1>
    <p>Використайте форму нижче для редагування ваших особистих даних</p>
    <form action='.' method='post' enctype='multipart/form-data'>
        {{ user_form.as_p }}
        <p>{{ profile_form.birthdate.label_tag }} {{ profile_form.birthdate }}</p>
        {% if not user.profile.isLecturer %}
            <p>{{ profile_form.group.label_tag }} {{ profile_form.group }}</p>
        {% else %}
            <p>{{ profile_form.faculty.label_tag }} {{ profile_form.faculty }}</p>
            <p>{{ profile_form.cathedra.label_tag }} {{ profile_form.cathedra }}</p>
        {% endif %}
        {% csrf_token %}
        <button type='submit'>Зберегти</button>
    </form>
    
    <script>
        $('#id_birthdate').datepicker();
    </script>
{% endblock main_content %}
{% block javascript %}
    <script src={% static 'js/accounts/edit_user.js' %}></script>
{% endblock javascript %}